*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 10px;
}
body{
	font-family: 'Open Sans', sans-serif;
}
header{
	max-height: 100%;
	height: 100%;
}
.about_us h2,
.services h2,
.advantages h2,
.contacts h2,
.detail_services h2{
	font-size: 3.6rem;
	text-align: center;
	margin-top: 4rem;
	text-transform: uppercase;
	color: #fff;
	text-decoration: underline;
	margin-bottom: 3rem;
}
.hat_site{
	background-color: #fff;
	height: 11.5vh;
	border-bottom: #124e8c 4px solid;
}
nav.wrapper{
	position: relative;
}
ul, li{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.menu{
	font-size: 2rem;
	height: 11.5vh;
	display: flex;
	align-items: center;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.menu li{
	float: left;
	margin: 0;
}
.menu li a{
	display: inline-block;
	color: #124e8c;
	text-decoration: none;
	font-weight: 600;
	font-size: 2.5rem;
	height: 11.5vh;
	line-height: 11.5vh;
	padding: 0 2rem;
	transition: 0.8s;
}
.menu a:hover{
	color: #fff;
	background-color: #124e8c;
	text-decoration: none;
}
.menuToggle{
	padding: 27px 20px;
	font-size: 26px;
	display: none;
	color: #124e8c;
	cursor: pointer;
}
.menu a span:hover{
	border-bottom: 2px #fff dotted;
}
.tele-n{
	background-color: #124e8c;
	height: 11.5vh;
	display: flex;
	flex-direction: column;
}
.tele-n h2{
	font-size: 2.6rem;
	text-align: center;
	color: #fff;
	margin-top: 5px;
}
.first_page{
	background-image: url(../img/BG-header.jpg);
	height: 88.5vh;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	background-attachment: fixed;
	min-height: 320px;
}
.first_page .titl_header{
	margin-top: 13rem;
	text-align: center;
}
.titl_header h1{
	color: #fff;
	font-weight: lighter;
	font-size: 3.6rem;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 3rem;
	line-height: 1.2;
}
.titl_header h1 span{
	font-weight: 600;
}
form{
	text-align: center;
	margin-top: 45rem;
}
input[type="tel"]{
	width: 33%;
	font-size: 2.3rem;
	border-radius: 1.7rem;
	border: 0.4rem solid #124e8c;
	padding: 0.7rem 0rem 1.3rem 1.3rem;
	height: 6rem;
	margin: 0 1.5rem;
	text-align: center;
}
.submit_head{
	width: 33%;
	height: 6rem;
	border-radius: 1.7rem;
	border: 0.4rem solid #fff;
	background-color: #124e8c;
	color: #fff;
	font-size: 2.2rem;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0 1.5rem;
}
.info{
	color: #000;
	text-align: center;
	font-size: 1.6rem;
	margin-top: 3rem;
	line-height: 1.1;
}
.info a{
	color: #291eff;
	font-weight: 600;
}
.info a:hover{
	cursor: pointer;
}
.about_us h2{
	color: #124e8c;
}
.about_us #work{
	width: 100%;
	margin-bottom: 3.5rem;
}
.about_us p{
	font-size: 1.9rem;
	text-align: center;
	line-height: 1.1;
	margin-bottom: 2rem;
	color: #33669b;
	font-weight: 500;
}
.services{
	background-color: #124e8c;
	margin-top: 4rem;
}
.all{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap
}
.all .wrap_ser{
	flex-basis: 17.5rem;
	height: auto;
	position: relative;
}
.all .log_s{
	display: flex;
	width: 100%;
	height: 15rem;
}
.services img{
	margin: auto;
}
.all .titl_s a{
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	font-size: 2rem;
	line-height: 1.2;
	border-bottom: 0.1px solid #fff;
	width: 100%;
}
.all .titl_s a:hover{
	border-bottom: 0px;
}
.all h3{
	text-align: center;
	margin-bottom: auto;
	height: 8rem;
}
.order{
	height: 7rem;
	text-align: center;
}
.order a{
	text-decoration: none;
	background-color: #124e8c;
	font-size: 2.1rem;
	color: #fff;
	border-radius: 2rem;
	font-weight: 600;
	padding: 0.5rem 1.5rem;
	border: solid 0.2rem #fff;
}
.order a:hover{
	color: #124e8c;
	background-color: #fff;
	font-size: 2.3rem;
	transition: 0.7s;
}
.end_all{
	display: flex;
	justify-content: space-around;
	width: 50%;
	margin: auto;
	flex-wrap: wrap;
}
.end_all .wrap_ser{
	flex-basis: 25rem;
}
.call{
	padding-bottom: 4rem;
	background-image: url(../img/BG-call.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	margin: 0.5rem auto;
}
.call p{
	text-align: center;
	font-size: 2.3rem;
	line-height: 2.7rem;
	margin-top: 4rem;
	margin-bottom: 2rem;
	color: #fff;
}
.call p.info{
	color: #000;
	text-align: center;
	font-size: 1.6rem;
	margin-top: 2rem;
	margin-bottom: 0rem;
	line-height: 1.1;
}
.call p span{
	font-weight: 600;
}
.call form{
	margin-top: 0;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.call input[type="tel"]{
	width: 40%;
	font-size: 3rem;
	padding: 0.7rem 0rem 1.3rem 1.3rem;
	height: 7.5rem;
}
.call .submit_head{
	width: 40%;
	height: 7.5rem;
	border-radius: 1.7rem;
	border: 0.4rem solid #fff;
	background-color: #124e8c;
	color: #fff;
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: 700;
}
.advantages{
	background-image: url(../img/BG-advantages.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
}
.adapt_advan{
 	display: flex;
 	flex-wrap: wrap;
 	justify-content: center;
}
.advantages p{
	font-size: 2rem;
	line-height: 1.1;
}
.advantages p span{
	color: #124e8c;
	font-weight: 600;
}
.advantages .log_cl{
	margin: auto 1rem;
}
.time,
.quality,
.staff,
.list,
.clock{
	display: flex;
	align-items: center;
	border: 0.2rem #124e8c solid;
	border-radius: 1.8rem;
	height: 13rem;
	margin: 0 auto;
	margin-bottom: 3rem;
	background-color: #fff;
	flex-basis: 55rem;
}
.clock{
	margin-bottom: 4rem;
	flex-basis: 70rem;
}
.advantages .clock .log_cl{
	margin: auto 2rem;
}
.contacts h2{
	background-color: #124e8c;
	margin: 0 auto;
	height: 10rem;
	line-height: 10rem;
}
.wrap_over{
	position: relative;
}
.facts{
	border: 0.3rem solid #124e8c;
	border-radius: 1.8rem;
	text-align: center;
	padding: 1.5rem;
	background-color: #fff;
	position: absolute;
	top: -65rem;
}
.facts h3{
	color: #124e8c;
	font-size: 2.1rem;
	text-transform: uppercase;
	margin-top: 1rem;
}
.facts p{
	font-size: 2.5rem;
	line-height: 1.1;
}
.facts a{
	font-size: 3.5rem;
	color: #124e8c;
}
footer{
	background-color: #124e8c;
	color: #fff;
}
.copy_develop{
	margin-top: 10rem;
}
footer h3{
	font-size: 2.1rem;
	font-weight: 600;
	line-height: 1.4;
	text-align: center;
	margin: 7rem auto;
}
footer h3 span{
	font-weight: 300;
}
footer h3 a{
	color: #fff;
	text-decoration: underline;
	padding: 0.5rem;
}
footer h3 a:hover{
	background-color: #fff;
	color: #124e8c;
	border-radius: 1rem;
	cursor: pointer;
	text-decoration: none;
}
.foot_menu{
	border: 0.1rem #fff solid;
	width: 85%;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 7rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.foot_menu a{
	color: #fff;
	font-size: 2.1rem;
	line-height: 1.4;
}
.foot_menu a:hover{
	font-weight: 600;
	text-decoration: none;
}
.foot_facts{
	border: 0.1rem #fff solid;
	width: 90%;
	margin-top: 7rem;
	text-align: center;
	font-size: 1.8rem;
	padding-top: 2.8rem;
	padding-bottom: 2.8rem;
	margin-left: auto;
}
.foot_facts a{
	color: #fff;
	font-size: 2.5rem;
}
.serv{
	border-top: 0.5rem #124e8c solid;
	margin: 4rem 0 0.5rem 0;
}
.item .active{
	color: #fff;
}
.detail_services .active{
	background: #124e8c; 
}
.detail_services h2{
	color: #124e8c;
}
.item{
	border: #124e8c solid 0.05rem;
	display: flex;
	height: 3.5rem;
	border-radius: 0.6rem;
	margin-bottom: 0.2rem;
	color: #fff;
}
.item p{
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 3.5rem;
	margin-left: 0.7rem;
	color: #124e8c;
	cursor: pointer;
}
.pic_item{
	width: 16%;
	background-color: #124e8c;
	border-radius: 0.6rem;
	text-align: center;
	line-height: 3.2rem;
}
.description{
	text-align: center;
	margin-top: 4rem;
}
.description h3{
	font-size: 2.5rem;
	text-transform: uppercase;
	color: #124e8c;
	margin-bottom: 1.5rem;
}
.description img{
	border: 0.3rem solid #124e8c;
	margin-bottom: 1.5rem;
	width: 40rem;
}
.description p{
	font-size: 1.7rem;
	line-height: 1.8rem;
	text-align: left;
	font-weight: 400;
	margin-bottom: 2rem;
}
.price_des{
	display: flex;
	justify-content: space-between;
}
.price_des p{
	text-align: center;
}
.description span{
	color: #124e8c;
	font-weight: 500;
}
.price_des span{
	text-transform: uppercase;
}
.save{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 3rem;
}
.save a{
	width: 35%;
	text-align: center;
	background: #124e8c;
	border: #fff 0.4rem dotted;
	color: #fff;
	font-weight: 500;
	font-size: 2.3rem;
	padding: 0.9rem 1.3rem 1rem;
	height: 6rem;
	border-radius: 1.7rem;
	text-decoration: none;
	transition: 0.8s;
}
.save a:hover{
	background-color: #fff;
	color: #124e8c;
	border: solid #124e8c 0.4rem;
}
@media screen and (max-width: 1200px){
	html{
		font-size: 8.5px;
	}
	.adap{
		display: flex;
		justify-content: space-between;
	}
	input[type="tel"]{
		height: 7rem;
	}
	.submit_head{
		height: 7rem;
	}
	.info{
		line-height: 1.1;
		margin-top: 2rem;
	}
	.item{
		border: #124e8c solid 0.1rem;
		margin-bottom: 0.5rem;
	}
}
@media screen and (max-width: 991px){
	.menu{
		display: none;
		position: absolute;
		background: #fff;
		z-index: 1000;
		width: 100vw;
		height: 36vh;
		left: 0;
	}
	.menu li{
		float: none;
	}
	.menuToggle{
		display: inline-block;
		text-align: center;
		padding: 2.5rem 1rem;
	}
	.menu li a{
		width: 100%;
		text-align: center;
		padding: 15px 10px;
		height: 9vh;
		line-height: 4vh;
	}
	.col-md-2{
		display: inline-block;
		padding: 0;
	}
	.col-md-2{
		display: none;
	}
	.first_page .titl_header h1 br{
		display: none;
	}
	form{
		margin-top: 0rem;
	}
	.info br{
		display: none;
	}
	input[type="tel"]{
		height: 7rem;
		width: 70%;
		margin-bottom: 1.5rem;
	}
	.submit_head{
		height: 7rem;
		width: 70%;
	}
	.about_us br{
		display: none;
	}
	.end_all{
		justify-content: center;
		width: 100%;
		margin: auto;
	}
	.end_all .wrap_ser{
		flex-basis: 25rem;
	}
	.advantages{
		padding: 5rem 0;
	}
	.advantages br{
		display: none;
	}
	.time,
	.quality,
	.staff,
	.list{
		flex-basis: 70rem;
	}
	.copy_develop{
		margin-top: 0rem;
	}
	.copy_develop h3{
		margin: 3rem auto;
	}
	.foot_menu, .foot_facts{
		width: 70%;
		margin: 0 auto;
	}
	.foot_facts{
		margin: 2rem auto;
	}
	.pic_item{
		width: 8%;
	}
	.pic_item img{
		width: 45%;
	}
	.item:nth-child(5) img{
		width: 35%;
	}
	.item:nth-child(9) img{
		width: 35%;
	}
	.item:nth-child(15) img{
		width: 35%;
	}
	.item:nth-child(19) img{
		width: 70%;
	}
	.item{
		margin-bottom: 0.2rem;
	}
	.save a{
		width: 45%;
	}
}
@media screen and (max-width: 743px){
	html{
		font-size: 8px;
	}
	form{
		margin-top: 7rem;
	}
}
@media screen and (max-width: 699px){
	form{
		margin-top: 4rem;
	}
	.info{
		margin-top: 0;
	}
	.all{
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.all h3 br{
		display: none;
	}
	.titl_s{
		margin-top: 1rem;
	}
	.all .wrap_ser{
		flex-basis: 20rem;
		margin-bottom: 1rem;
	}
	.end_all{
		justify-content: space-around;
		width: 50%;
		margin: auto;
	}
	.end_all .wrap_ser{
		flex-basis: 20rem;
	}
	.end_all h3{
		margin-bottom: 5rem;
	}
}
@media screen and (max-width: 639px){
	.all .wrap_ser{
		flex-basis: 20rem;
		margin-bottom: 1rem;
	}
	.end_all{
		justify-content: center;
		width: 100%;
		margin: auto;
	}
	.end_all .wrap_ser{
		flex-basis: 20rem;
	}
	.call{
		padding: 2rem;
		padding-bottom: 3rem;
	}
	.call input[type="tel"]{
		width: 100%;
	}
	.call .submit_head{
		width: 100%
	}
	.advantages{
		padding: 3rem;
	}
	.save a{
		width: 70%;
		margin-bottom: 1rem;
	}
	header{
		height: 200rem;
	}
}
@media screen and (max-width: 493px){
	html{
		font-size: 7px;
	}
	.col-md-2{
		display: none;
	}
	.first_page{
		min-height: 88.5vh;
	}
	.first_page .titl_header{
		margin-top: 8rem;
	}
	form{
		margin-top: 2rem;
		padding: 1rem;
	}
	.info{
		margin-top: 1rem;
	}
	input[type="tel"]{
		width: 100%;
		margin: 0;
		margin-bottom: 1rem;
		height: 8rem;
	}
	.submit_head{
		width: 100%;
		height: 8rem;
		margin: 0;
	}
	.end_all{
		justify-content: space-around;
	}
	.save a{
		width: 100%;
		margin-bottom: 2rem;
	}
}
@media screen and (max-width: 320px){
	html{
		font-size: 7px;
	}
	.adap{
		display: flex;
		justify-content: space-between;
	}
	.menu{
		display: none;
		position: absolute;
		background: #fff;
		z-index: 1000;
		width: 100vw;
		height: 39vh;
		left: 0;
	}
	.menu li{
		float: none;
	}
	.menuToggle{
		display: inline-block;
		text-align: center;
		padding: 15px 10px;
	}
	.menu li a{
		width: 100%;
		text-align: center;
		padding: 15px 10px;
	}
	.tele-n{
		display: none;
	}
	.first_page .titl_header{
		margin-top: 3rem;
	}
	.first_page .titl_header h1{
		margin-top: 4rem;
		margin-bottom: 0rem;
	}
	form{
		text-align: center;
		margin-top: 6rem;
	}
	input[type="tel"]{
		margin-bottom: 1rem;
		height: 8rem;
	}
	.submit_head{
		height: 8rem;
	}
	.info{
		line-height: 1.1;
	}
	.about_us br{
		display: none;
	}
	.all .wrap_ser{
		flex-basis: 10rem;
		margin-bottom: 4rem;
	}
	.all .log_s,
	.all .wrap_ser,
	.all h3{
		height: auto;
	}
	.all{
		justify-content: center;
	}
	.all h3{
		margin-bottom: 3rem;
	}
	.all h3 br{
		display: none;
	}
	.all .log_s img{
		margin-bottom: 1rem;
		margin-top: ;
	}
	.all .wrap_ser{
		margin-bottom: 0rem;
		flex-basis: 20rem;
	}
	.end_all{
		justify-content: center;
		width: 1000%;
		margin: auto;
	}
	.end_all .wrap_ser{
		flex-basis: 25rem;
	}
	.order{
		height: 5rem;
	}
	.call{
		padding-top: 5rem;
		padding-bottom: 8rem;
	}
	.call p br{
		display: none;
	}
	.call form{
		margin-top: 0;
		display: flex;
		justify-content: space-around;
	}
	.call input[type="tel"]{
		width: 100%;
	}
	.call .submit_head{
		width: 100%;
	}
	.advantages{
		padding: 5rem 0.5rem;
	}
	.advantages br{
		display: none;
	}
	.copy_develop{
		margin-top: 5rem;
	}
	.foot_menu{
		width: 100%;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	.foot_facts{
	width: 100%;
	font-size: 1.8rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	}
}